body {
  margin: 0;
  font-family: 'Nexa Script', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
}
body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  font-family: 'Nexa Script', sans-serif !important ;
}

pre{
  font-family: 'Nexa Script', sans-serif !important ;

}
h1{
  font-family: 'Nexa Script', sans-serif  !important;
  /* margin: 0 auto; */
  margin-left: auto !important;
  margin-right: auto  !important;
  /* justify-self: center !important; */

}