body {
  margin: 0;
  font-family: 'poppins' , sans-serif;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
}
body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre{
  font-family: 'poppins' , sans-serif;

}
h1{
  font-family: 'poppins' , sans-serif !important;

}