.form_cp  .form-group label{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    width: 50%;
    float: left;
}

.form_cp .form-group input{
    width: 90%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 5px;
    outline: none;
}

.form_cp .form-group{
    margin:25px;
    display: flex;
    flex-direction: row;
    width: 70%;
}
.form_cp .form-group select, .form_cp .form-group input{
    border:none;
    border-bottom: 1px solid black;
}

.form_cp  .form-group select:focus,.form_cp .form-group input:focus{
    box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.4);
    transition: all 0.3s ease-in-out;
}

.red {
    color: red;
}

.form_cp{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin-bottom: 5%;
    width: 80%;

}
.passbutton1{
    background: none;
    border: 1px solid black;
    padding:10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem;
    cursor: pointer;
    /* width: 50px; */
    margin:  3% auto;
}


.passbutton1:hover {

    background-color: black;
    color:white;
    transform: scale(1.1);
    transition: all 0.6s ease-in-out;
 }