.app .datacontentl .titlel .titlel-textl{
    float: left;
}
.app .datacontentl .titlel .title-btn {
    float: right;
    margin-right: 2%;

}
.mainhead1{
    padding: 10px 20px;
}

.app .datacontentl .titlel{
    position: relative;
    font-size: 1.3rem;
    color: rgb(59, 59, 59);
    width: 100%;
    min-width: 100px;
    margin-bottom: 2%;
    font-family: 'Nexa Script', sans-serif'';
    font-weight: 600;

}
.add-button {
    background: none !important;
    border: none;
    outline: none;
}
.app .datacontentl .datal{
    position: relative;
    width :100% !important;
    font-size: 1.5rem;
    color: rgb(33, 33, 33);
    font-family: 'Nexa Script', sans-serif'';
}

.app .datacontentl{
    position: relative;
    width:80%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 3% 0%;
    height: max-content;
    margin: 0% auto;

}

.app {
    display: flex;
    flex-direction: column;
    /* padding: 0% auto; */
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */
    position: relative;
    width: 100%;
  }
  
  .dynamic-table {
    border-collapse: collapse;
    height: max-content;
    /* margin-top: ; */
  }
  .dynamic-table td input{
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Nexa Script', sans-serif'';
    font-weight: 500;
    color: rgb(33, 33, 33);
    background-color: transparent;
    outline: none;
  }

  .dynamic-table td {
    border: 1px solid #ddd;
    /* padding: 10px; */
    text-align: center;
    width: 70px;
    height: 40px;
  }
.dynamic-table tbody tr th{
    background-color: rgb(214, 214, 214) !important;
    padding: 10px !important;
    /* margin: none !important; */
}
.dynamic-table tbody tr td{
    background-color: rgb(244, 244, 244) !important;
    padding: 10px !important;
    /* margin: none !important; */
}
.box-2{
    position: relative;
    width: 100%;
    min-width: 450px;
    /* max-width: 100% ; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* float: left; */
    /* margin-left: auto;
    margin-right: auto; */
    padding: 0% 0% ;
    /* margin-left: ÷; */
    /* min-width: ; */
}


.mainbutton2{
    background: none;
    border: 1px solid black;
    padding:10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem auto;
    cursor: pointer;
    /* width: 20%; */
}

.mainbutton2:hover {

    background-color: black;
    color:white;
    transform: scale(1.1) ;
    transition: all 0.6s ease-in-out;
 }
 