.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffffd7;
}

.head {
  /* flex: 8; */
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  height: 65px;
}

.contactInfo {
  display: flex;
  align-items: center;
}

.contactInfo a{
  text-decoration: none;
  color: black;
}

.contactImage img {
  width: 30px;
  height: 30px;
  /* border-radius: 50%; */
  /* margin: 5px 15px; */
  padding-top: 15px;
  padding-left: 20px;
  border-radius: 15px;
}

.contactDetail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* font-size: 10px; */
  padding-top: 5px;
  padding-left: 20px;
  color: black;
  text-transform: capitalize;
  font-family: monospace;
}

.contactName {
  font-size: 16px;
  font-weight: 500;
}

.menuIcon {
  font-size: 15px;
  margin: 10px;
  fill: #000000 !important;
}
.menuIcon:hover {
  fill: #17cf97 !important;
  transition: 0.4s ease-in-out;
  margin-right: 15px;
  cursor: pointer;
}

.chat {
  position: relative;
  width: 100%;
  overflow-y: scroll;
  /* -ms-overflow-style: ; */
  scroll-behavior: smooth;
  scrollbar-width: 0px;
  flex: 80;
  /* border: 1px solid green; */
}
.chat::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  display: none;
}
.messageContainer {
  flex: 9;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.messageContainerIcons {
  flex: 10;
  display: flex;
  justify-content: space-around;
  margin: 0 5px;
  /* border: 1px solid grey; */
}

.emojiIcon {
  font-size: 35px;
  /* border: 1px solid grey; */
}

.fileIcon {
  font-size: 35px;
  transform: rotate(-40deg);
}

.messageInputContainer {
  padding: 10px;
  flex: 79 1;
  margin: 0px 10px;
  background-color:#ffffff ;
  box-shadow: 0px 2px 0px 0px #17cf97;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 5px;
}

.messageInputContainer input {
  color: black;
}

.messageInputContainer input::placeholder {
  color: black;
}

.messageInput {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
}

.sendIcon {
  /* flex: 7; */
  font-size: 25px !important;
  /* margin: 10px 5px; */
  fill: #17cf97 !important;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  padding: 4px !important;
  transition: 1.7s ease-in-out;

  /* transition: fill 200ms cubic-bezier(0.4, 0, 0, 0.82) 0ms; */
}
.sendIcon:hover {
  fill: #17cf97 !important;
  cursor: pointer;
  transform: scale(1.38);
}

@media screen and (max-width: 700px) {
  .contactImage img {
    width: 20px;
    height: 20px;
    padding-top: 10px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 500px) {
  .contactImage img {
    width: 25px;
    height: 25px;
    /* border-radius: 50%; */
    /* margin: 5px 15px; */
    padding-top: 15px;
    padding-left: 10px;
  }

  .contactDetail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* font-size: 5px; */
    padding-top: 5px;
    padding-left: 4px;
    color: black;
    text-transform: capitalize;
    font-family: monospace;
  }

  .contactName {
    font-size: 14px;
    font-weight: 500;
  }
}

/* @media only screen and (max-width: 991px) {
  .contactName {
    font-size: 16px;
  }

  .menuIcon {
    font-size: 35px;
  }
  .status {
    font-size: 15px;
  }
  .sendIcon {
    flex: 10;
  }
}

@media only screen and (max-width: 767px) {
  .sendIcon {
    flex: 18;
  }
} */
