.requestbox {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px ;
  height: 60px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.activecontact {
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(128,128,128,0.5);
  -moz-box-shadow: 5px 5px 5px 0px rgba(128,128,128,0.5);
  box-shadow: 5px 5px 5px 0px rgba(128,128,128,0.5);  
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  height: 60px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.requestbox:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(128,128,128,0.3);
  -moz-box-shadow: 5px 5px 5px 0px rgba(128,128,128,0.3);
  box-shadow: 5px 5px 5px 0px rgba(128,128,128,0.3); 
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  height: 60px;
  margin-left: 5px;
  margin-right: 5px;
  animation:  1.3s ease-in-out !important;
}

.requestimage {

  height: 100%;
  margin-top: 10px;
  margin-left: 10px;
  /* width: 15%; */
  position: absolute;
}
.contactimage {
  height: 40px;
  padding: auto !important;
  border-radius: 20%;
}
.requesteduserinfo {
  color: rgb(91, 91, 91);
  font-weight: 600;
  padding-left: 80px;
  padding-top: 15px;
  /* font-family: monospace; */
  text-transform: capitalize;
  text-align: left;
}
.activeinfo {
  color: black;
  font-weight: 600;
  padding-top: 15px ;
  padding-left: 80px ;
  /* font-family: monospace; */
  text-transform: capitalize;
  text-align: left;
}
.requestoptions {
  float: right;
  width: 40%;
  justify-content: center;
  margin-top: 4px;
}

@media screen and (max-width: 900px) {
  .requestimage {
    height: 100%;
    margin-top: 10px;
    /* width: 15%; */
    position: absolute;
  }
  .contactimage {
    height: 40px;
    padding: auto;
  }
  .requesteduserinfo,
  .activeinfo {
    font-weight: 600;
    padding-left: 80px;
    padding-top: 15px;
    font-size: 16px;
  }
}

@media screen and (max-width: 712px) {
  .requestimage {
    height: 100%;
    margin-top: 10px;
    /* width: 15%; */
    position: absolute;
  }
  .contactimage {
    height: 40px;
    padding: auto;
  }
  .requesteduserinfo,
  .activeinfo {
    font-weight: 600;
    padding-left: 80px;
    padding-top: 15px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 450px) {
  .requestimage {
    height: 100%;
    margin-top: 10px;
    /* width: 15%; */
    /* position: absolute; */
  }
  .contactimage {
    height: 40px;
    padding: auto;
  }
  .requesteduserinfo,
  .activeinfo {
    font-weight: 600;
    padding-left: 80px;
    padding-top: 15px;
    font-size: 16px;
  }
}
