.container {
  /* border: 1px solid grey; */
  background: rgb(243, 243, 243);
  height: 100%;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  /* width: 20%; */
}

.searchContainer {
  flex: 9;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;

}

.search {
  width: 90%;
  margin-top: 15px;
  margin-bottom: 8px;
  border-radius: 8px;
  /* background-image: linear-gradient(45deg,rgba(0, 85, 255, 0.2) , #ffffff) ; */
  background: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(128,128,128,0.5);
  -moz-box-shadow: 5px 5px 5px 0px rgba(128,128,128,0.5);
  box-shadow: 5px 5px 5px 0px rgba(128,128,128,0.5); 
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 30px;
  display: flex;
  color: white;
  transition: 0.4s ease-in-out;
  height: 35px;

}

/* .search:hover,.search:focus {
  box-shadow: 0px 2px 0px 0px #23ba92bb;
} */

.searchBar {
  outline: none;
  border: none;
}

.search input {
  color: #000000;
  font-size: 14px;
  align-items: center;
  text-align: center;
}

.search input::placeholder {
  color: black;
  font-size: 10px;
  align-items: center;
  text-align: center;
}

.contacts {
  background-image: linear-gradient(45deg,rgba(0, 85, 255, 0.2), #ffffff) ;

  flex: 81;
  /* border: 1px solid blue; */
}

.tab {
  float: left;
  margin-left: 12%;
  font-size: small;
  font-family: monospace;
  padding: 10px 5px;
  cursor: pointer;
  color: white;
  border-bottom: 1px solid #17cf97;
  transition: 0.4s ease-in-out;
}
.tab:hover {
  border-bottom: 1px solid #fff;
  color: #17cf97;
}

@media only screen and (max-width: 1200px) {
  .tab {
    margin-left: 5%;
  }
}

@media only screen and (max-width: 991px) {
  .icon {
    font-size: 35px;
  }
  .userName {
    font-size: 15px;
  }
  .headLeft img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 10px 15px;
  }
}

@media only screen and (max-width: 900px) {
  .tab {
    margin-left: 5%;
    font-size: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .headLeft img {
    width: 25px;
    height: 25px;
    margin: 10px 5px;
  }
}

@media only screen and (max-width: 770px) {
  .tab {
    font-size: 8px;
    margin-left: 1%;
  }
}

@media only screen and (max-width: 700px) {
  .userName {
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  .tab {
    font-size: 12px;
    margin-left: 15%;
  }
  .userName {
    text-align: center;
    font-size: 15px;
    text-align: center;
  }
  .headLeft img {
    margin: 10px 15px;
  }
  .head {
    flex: 11;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
