.requestbox {
  /* background: rgba(230, 219, 223, 0.15); */
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  border-radius: 4px;
  height: 60px;
  /* margin-top: 3px; */
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.activecontact {
  background: rgba(255, 255, 255, 0.609);
  box-shadow:  1px 1px 3px 0 #17cf97;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  border-radius: 4px;
  height: 60px;
  /* margin-top: 3px; */
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  margin-top: 5px;

}

.requestbox:hover {
  cursor: pointer;
  background: rgba(0, 85, 255, 0.2);
  /* box-shadow: inset -1px -1px 6px 0 #0185c2; */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border-radius: 4px;
  height: 60px;
  margin-left: 5px;
  margin-right: 5px;
  animation:normal 0.3s ease-in-out;
}

.requestimage {

  height: 100%;
  margin-top: 10px;
  margin-left: 10px;
  /* width: 15%; */
  position: absolute;
}
.contactimage {
  height: 40px;
  padding: auto !important;
  border-radius: 20%;
}
.requesteduserinfo {
  color: black;
  font-weight: 300;
  padding-left: 80px;
  padding-top: 15px;
  /* font-family: monospace; */
  text-transform: capitalize;
  text-align: left;
}
.activeinfo {
  color: #17cf97;
  font-weight: 300;
  padding-top: 15px ;
  padding-left: 80px ;
  /* font-family: monospace; */
  text-transform: capitalize;
  text-align: left;
}
.requestoptions {
  float: right;
  width: 40%;
  justify-content: center;
  margin-top: 4px;
}
/* .acceptbutton {
  float: left;
  background: rgba(10, 186, 104, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 16px;
  color: white;
  border-radius: 3px;
  padding: 2px;
  font-weight: 700;
  font-size: small;
  cursor: pointer;
}
.rejectbutton {
  float: left;
  background: rgb(212, 12, 12);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 16px;
  color: white;
  border-radius: 3px;
  padding: 2px;
  font-weight: 700;
  font-size: small;
  margin-left: 3px;
  cursor: pointer;
} */

@media screen and (max-width: 900px) {
  .requestimage {
    height: 100%;
    margin-top: 10px;
    /* width: 15%; */
    position: absolute;
  }
  .contactimage {
    height: 40px;
    padding: auto;
  }
  .requesteduserinfo,
  .activeinfo {
    font-weight: 300;
    padding-left: 80px;
    padding-top: 15px;
    font-size: 12px;
  }
}

@media screen and (max-width: 712px) {
  .requestimage {
    height: 100%;
    margin-top: 10px;
    /* width: 15%; */
    position: absolute;
  }
  .contactimage {
    height: 40px;
    padding: auto;
  }
  .requesteduserinfo,
  .activeinfo {
    font-weight: 300;
    padding-left: 80px;
    padding-top: 15px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 450px) {
  .requestimage {
    height: 100%;
    margin-top: 10px;
    /* width: 15%; */
    /* position: absolute; */
  }
  .contactimage {
    height: 40px;
    padding: auto;
  }
  .requesteduserinfo,
  .activeinfo {
    font-weight: 300;
    padding-left: 80px;
    padding-top: 15px;
    font-size: 13px;
  }
}
