.container {
  position: relative;
  height: 89vh;
  width:100vw;
  box-sizing: border-box;
  margin:0%;
  display: flex;
  overflow: hidden;
}
.main {
  flex: 99;
  display: flex;
  height: auto;
  background-color: #1c242c;
}

.contactsWindow {
  flex: 20;
  /* border-right: 1px solid #3f6283; */
  border-radius: 5px 0 0 5px;
  /* width:20% ; */
  -webkit-box-shadow: 2px 0px 5px 0px rgba(128,128,128,0.9);
  -moz-box-shadow: 2px 0px 5px 0px rgba(128,128,128,0.9);
  box-shadow: 2px 0px 5px 0px rgba(128,128,128,0.9);
  z-index: 199;
}

.chatWindow {
  flex: 75;
  border-radius: 0 5px 5px 0;
  /* width:79% ; */

}
.logoutbtn {
  background-color: #0185c2;
  position: absolute;
  top: 12px;
  right: 40px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}
.logoutbtn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 470px) {
  .logoutbtn {
    display: none;
  }
  .contactsWindow {
    flex: 100;

  }
  .chatWindow {
    flex: 100;
    display: none;

    /* width: 0; */
  }
}

@media only screen and (max-width: 600px) {
  .container{
    height: 82.5vh;
  }
}

/* @media only screen and (max-width: 767px) {
  .contactsWindow {
    flex: 100;
    border: none;
  }

  .chatWindow {
    display: none;
  }
}

@media only screen and (max-width: 479px) {
  .container {
    padding: 0%;
  }
} */
