.messageTextCenter {
  position: relative;
  margin: 5px;
  padding: 1px 5px;
  border-radius: 2px;
  border: 1px solid grey;
  max-width: 100%;
}

.messageContainerL {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 7px;
  border-radius: 3px;
  margin: 0px 10px;
  align-items: baseline;
  text-align: left;
  background: #ffffff;
  -webkit-box-shadow: -5px 5px 5px 0px rgba(128,128,128,0.9);
  -moz-box-shadow: -5px 5px 5px 0px rgba(128,128,128,0.9);
  box-shadow: -5px 5px 5px 0px rgba(128,128,128,0.9);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
}

.messageContainerR {
  display: flex;
  flex-direction: column;
  padding: 7px;
  border-radius: 3px;
  margin: 5px 10px;
  align-items: baseline;
  text-align: left;
  /* background-image: linear-gradient(45deg,rgba(0, 85, 255, 0.2), #ffffff) ; */
  background-color:rgba(0, 0, 0, 0.823) ;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(93, 93, 93, 0.897);
  -moz-box-shadow: 5px 5px 5px 0px rgba(93, 93, 93,0.9);
  box-shadow: 5px 5px 5px 0px rgba(93, 93, 93,0.9);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border-radius: 10px;
}
.containerLeft {
  box-sizing: border-box;
  clear: both;
  display: flex;
  align-items: center;
  margin: 5px 15% 5px 10px;
  float: left;
}

.containerRight {
  box-sizing: border-box;
  clear: both;
  display: flex;
  align-items: center;
  margin: 5px 10px 5px 15%;
  float: right;
  flex-direction: row-reverse;
}

.containerCenter {
  clear: both;
  display: flex;
  justify-content: center;
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.messageTextR {
  position: relative;
  margin: 0 30px 0 10px;
  color: rgb(248, 244, 244);
  font-size: 1.2rem;
  font-family: poppins;
  word-wrap:break-word;
  /* overflow-y:scroll;
  overflow-wrap: break-word; */
}

.messageTextL {
  position: relative;
  margin: 0 30px 0 10px;
  color: rgb(1, 1, 1);
  font-size: 1.2rem;
  font-family: poppins;
  word-wrap:break-word;
  /* overflow-y:scroll;
  overflow-wrap: break-word; */
}

.messageTimeL,.imgmessageTimeL {
  position: relative;
  font-family: poppins;
  font-size: 7px;
  margin-left: auto;
  margin-right: 5px;
  padding-top: 8px;
  display: inline;
  color: rgb(136, 136, 136);
}


.messageTimeR,.imgmessageTimeR {
  position: relative;
  font-family: poppins;
  font-size: 7px;
  margin-left: auto;
  margin-right: 5px;
  padding-top: 8px;
  display: inline;
  color: rgb(255, 255, 255);
}

.messimg{
  padding-top: 4px;
  position: relative;
  max-width: 300px;
  max-height: 300px;
}

@media screen and (min-width: 1000px) {
  .messageText {
    font-size: 15px;
  }
}
@media screen and (min-width: 1400px) {
  .messageText {
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {
  .messageText {
    font-size: 13px;
  }
  .messageContainer {
    max-width: 90%;
  }
}
